.footer{
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 998px;
    height: 260px;
    padding: 40px 20px;
}

.footer-links{
    display: flex;
    gap: 70px;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

#scrollTopBtn {
  display: none; 
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#scrollTopBtn:hover {
  background-color: #555;
}