body{
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  background-color: #B1D9DB;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.nav-bar{
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.nav-bar li a{
  text-decoration: none;
  font-size: 15px;
  color: #212832;
  font-weight: 500;
}

.sign-btn{
  width: 102px;
  height: 40px;
  border: 1px solid #212832;
  border-radius: 5px;
  background: none;
}

