.hero{
    display: flex;
    padding: 10px 30px;
    gap: 30px;
}

.introduction{
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 405px;
}

.hero-intro{
    color: #DF6951;
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.hero-topic{
    font-size: 45px;
    font-family: Poppins, serif;
    font-weight: 700;
    line-height: 53px;
    color: #333333;
}

.hero-briefing{
    font-size: 12px;
    font-family: Poppins, serif;
    font-weight: 500;
    line-height: 30px;
    color: #5E6282;
}

.hero-actions{
    display: flex;
    align-items: center;
    gap: 30px;
}

.find-btn{
    width: 127px;
    height: 43px;
    border-radius: 10px;
    border: none;
    background-color: #ffba3e;
    color: white;
    font-size: 12px;
    font-family: Poppins, serif;
}

.play-btn{
    border: none;
    border-radius: 50%;
    width: 39px;
    height: 37px;
    background-color: #fd4141;
}

.play-demo{
    font-size: 15px;
    font-family: Poppins, serif;
    font-weight: 500;
}

.hero-img{
    width: 582px;
    height: 616px;
}

